### Diabetes Classification

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
plt.style.use('seaborn')

### Data Analysis

In [3]:
#read my data
dfx = pd.read_csv('Diabetes_XTrain.csv')
dfy = pd.read_csv('Diabetes_YTrain.csv')

In [4]:
#converting into numpy arrays
X = dfx.values #x contains Pregnancies,Glucose,BloodPressure, Skin Thickness,Insulin, BMI,Age,DiabetesPedigreeFunction
Y = dfy.values # y contains the categories i.e 0 or 1- absent or present respectively

In [9]:
print(X.shape)
Y=Y.reshape(-1,)
print(Y.shape)

(576, 8)
(576,)

### KNN

In [10]:
def dist(x1,x2): #defining euclidian distance
    return np.sqrt(sum((x1-x2)**2))

In [11]:
def knn(X,Y,queryPoint,k=5):
    
    vals = []#saves people info as tuples
    m = X.shape[0] #no. of people
    
    for i in range(m):
        d = dist(queryPoint,X[i])#calculating euclidian distance
        vals.append((d,Y[i])) #appending distance and label
        
    
    vals = sorted(vals) #sorting distances
    # Nearest/First K points
    vals = vals[:k] #until mentioned K points
    
    vals = np.array(vals) #converting to numpy array
    
    #print(vals)
    
    new_vals = np.unique(vals[:,1],return_counts=True) #counting no. of unique labels
    #print(new_vals)
    
    index = new_vals[1].argmax()#max count label
    pred = new_vals[0][index] #returning label of max count
    
    return pred

### Downloading test data

In [12]:
x_test=pd.read_csv('Diabetes_Xtest.csv')

In [13]:
x_test=x_test.values#convert it to numpy array

### Prediction

In [14]:
mylist = []
for i in range(x_test.shape[0]):
    p = knn(X,Y,x_test[i],17)
    mylist.append(p)

output = pd.DataFrame({'Outcome':np.array(mylist)})

In [16]:
output

     Outcome
0        1.0
1        0.0
2        0.0
3        0.0
4        0.0
..       ...
187      0.0
188      0.0
189      1.0
190      0.0
191      0.0

[192 rows x 1 columns]